# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs
# lib/  # Remplacé par exception pour frontend/lib
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers de log
*.log

# Fichiers locaux
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml


src/keys/klando-d3cb3-firebase-adminsdk-*.json
node_modules/
src/resources/keys/
.next/

# Exception: autoriser le lib/ du frontend
!frontend/src/lib/
